<p style="color: green"><%= notice %></p>

<!-- component -->
<div class=" bg-indigo-50">
  <!-- Header -->
  <header>
    <h1 class="bg-white py-4 text-center">
    <a href="/" class="text-xl font-bold text-gray-700 cursor-pointer">LINKS</h1>
    </h1>
  </header>
  <section class="min-h-screen body-font text-gray-600 ">
    <div class="container mx-auto px-5 py-10">
      <div class="-m-4 flex flex-wrap">
      	<% @links.each do |link| %>
        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
          <a class="relative block h-48 overflow-hidden rounded">
            <img alt="ecommerce" class="block h-full w-full object-cover object-center cursor-pointer" src="https://thumbs.dreamstime.com/z/social-media-trending-both-business-as-consumer-using-information-sharing-networking-showing-85888284.jpg" />
          </a>
          <div class="mt-4">
            <h3 class="title-font mb-1 text-xs tracking-widest text-gray-500"><%= link.title %></h3>
            <h2 class="title-font text-lg font-medium text-gray-900"><a href="/links/<%= link.id %>"><%= link.url %></a></h2>
            <p class="mt-1"><%= link.created_at %></p>
          </div>
        </div>
        <% end %>
    </div>
  </section>
  <%= link_to "New link", new_link_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

<% if current_user.present? %>
	<%= link_to "My links", mylink_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>
<!-- Footer -->
  <footer>
    <p class="text-center  py-4 bg-white">Created By &copy; AZIZ SHARIF</p>
  </footer>
</div>

