<!DOCTYPE html>
<html>
  <head>
    <title>LinkShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  
  <body>
    <nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <a href="#" class="text-white font-bold">Logo</a>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <% if user_signed_in? %>
          <a href="/users/sign_out", class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-700 hover:bg-gray-600 focus:outline-none focus:text-white focus:bg-gray-600">
            Sign out
          </a>
          <% else %>
          <a href="/users/sign_up", class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-gray-300 focus:outline-none focus:text-white focus:bg-gray-700">Sign up</a>
          <a href="/users/sign_in", class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-700 hover:bg-gray-600 focus:outline-none focus:text-white focus:bg-gray-600">Sign in</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
